// @import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");
.header {
  // position: fixed;
  height: 128px;
  width: 100%;
  z-index: 4;
  @include media("<=phone") {
    height: 96px;
  }
  .logo {
    a {
      font-size: 1.2rem;
      text-decoration: none;
      letter-spacing: 0.5rem;
      font-weight: 700;
      color: $black;
    }
  }
  .nav {
    width: 25px;
    @include media("<=phone") {
      width: 20px;
    }
    span {
      margin-bottom: 0.3rem;
      background-color: $black;
      height: 2px;
      width: 100%;
      display: block;
    }
  }
}
